<div class="my-centered">
  <div class="ui center aligned container grid">
    <div class="column">
      <div class="ui teal image header">
        <img src="../../../assets/images/male-avatar-tiny.png" class="image">
        <div class="content">
          Log-in to your account
        </div>
      </div>

      <form class="ui large form" [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)"
            [ngClass]="formClasses()">

        <div class="ui stacked teal segment">
          <div class="field" [class.error]="username.invalid && username.touched">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text"
                     id="username"
                     placeholder="Roll number"
                     [formControl]="username">
              <small *ngIf="username.hasError('required') && username.touched"
                   class="ui left pointing red basic label">Cannot be empty
              </small>
            </div>
          </div>
          <div class="field" [class.error]="password.invalid && password.touched">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password"
                     id="password"
                     placeholder="Password"
                     [formControl]="password">
              <small *ngIf="password.hasError('required') && password.touched"
                   class="ui left pointing red basic label">Cannot be empty
              </small>
            </div>
          </div>
          <button type="submit" class="ui fluid large teal submit button" [disabled]="formGroup.invalid">Login</button>
        </div>

      </form>

      <div class="ui message">
        New to us? <a href="/signup" (click)="onSignUpClicked()"> Sign Up</a>
      </div>
    </div>
  </div>

</div>
