<a class="teal item">
  <div class="ui teal header">
    <img src="../../../assets/images/male-avatar-tiny.png" class="ui mini circular image">
    <div class="content">
      {{user.username}}
      <div class="ui blue sub header">{{user.uniqueId}}</div>
    </div>
  </div>
</a>
<div class="item">
  <div class="ui transparent icon input">
    <input type="text" placeholder="Search...">
    <i class="search icon"></i>
  </div>
</div>
<a class="item"
   routerLink="index"
   routerLinkActive="active teal"
   (click)="navItemClicked.emit('home')">
  Home
  <div class="ui label" [ngClass]="addColorEffect(total)">
    {{total}}
  </div>
</a>
<a class="item"
   routerLink="announcements"
   routerLinkActive="active teal"
   (click)="navItemClicked.emit('announcements')">
  Announcements
  <div class="ui label" [ngClass]="addColorEffect(announcement)">
    {{announcement}}
  </div>
</a>
<a class="item"
   routerLink="articles"
   routerLinkActive="active teal"
   (click)="navItemClicked.emit('articles')">
  Articles
  <div class="ui label" [ngClass]="addColorEffect(article)">
    {{article}}
  </div>
</a>
<a class="item"
   routerLink="events"
   routerLinkActive="active teal"
   (click)="navItemClicked.emit('events')">
  Events
  <div class="ui label" [ngClass]="addColorEffect(event)">
    {{event}}
  </div>
</a>
<a class="item"
   routerLink="profiles"
   routerLinkActive="active teal"
   (click)="navItemClicked.emit('profiles')">
  Your Profile
</a>
<a class="item">
  Map Guide
</a>
<a class="item">
  KIIT Info
</a>
<a class="item">
  Help and Support
</a>
<a class="item">
  Attribution
</a>
<a class="item">
  Terms and Conditions
</a>
