<div class="ui tiny top right attached label">
  <div class="ui horizontal linked list">
    <a class="item" data-tooltip="Share">
      <i class="share icon"></i>
    </a>
    <a class="item" data-tooltip="Edit" data-position="bottom right">
      <i class="edit icon"></i>
    </a>
    <a class="item" data-tooltip="Delete" data-position="bottom right">
      <i class="remove icon"></i>
    </a>
    <a class="item" data-tooltip="Report" data-position="bottom right">
      <i class="legal icon"></i>
    </a>
  </div>
</div>
